{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "generator-star-spacing": ["warn", {"before": true, "after": false}],

    "no-use-before-define": 0,

    "arrow-parens": ["error", "always"],

    "consistent-return": 0,

    "no-bitwise": ["error", { "allow": ["~"] }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": false
      }
    ],

    "import/prefer-default-export": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
